#header {
    text-align: center;
    font-size: 70px;
    margin: 40px;
    margin-bottom: 60px;
    color: #1d3557;
}

#tic-tac-toe {
   
    border-spacing: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 30px auto;
}

#tic-tac-toe td {
    border: 2px solid #1d3557;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
#tic-tac-toe tr:first-child td {
    /* First row all columns */
    border-top: none;
}

#tic-tac-toe tr:last-child td {
    /* Last row all columns */
    border-bottom: none;
}

#tic-tac-toe tr td:first-child {
    /* First column of every row */
    border-left: none;
}

#tic-tac-toe tr td:last-child {
    /* Last column of every row */
    border-right: none;
}

.glyphicon {
    color:#457b9d;
    font-size: 80px;
}

#h3Winner {
    text-align: center;
    font-size: 50px;
    color: #e63946;
}

#newGame {
    text-align: center;
    font-size: 30px;
    color: #e63946;
}

body {
    background-color: #a8dadc;
}

#cell {
    color: transparent;
}

#gameboard {
    background-color: #f1faee;
    border: 7px double #1d3557;
    width: 400px;
    padding: 10px;
    margin: auto;
    text-align: center;
}